<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<% if logged_in? %>
    Hello <%= current_user.display_name %>! Go to <%= link_to 'My Page', account_path %><br>
    <%= link_to 'Register new Circle', new_circle_path %>
    <%= circle_suggest %>
<% else %>
    <%= link_to 'Log in', login_path %>
    <%= link_to 'Sign up', signup_path %>
<% end %>

<script type="text/javascript">
  <!--
    var ncmb = new NCMB("YOUR_APPLICATION_KEY","YOUR_CLIENT_KEY");
    var fs = require('fs');
    fs.readFile('FILE_PATH', function (err, data) {
      if (err) throw err;
      var name = "abc.txt";
      ncmb.File.upload(name, data)
          .then(function(data){
              // アップロード後処理
          })
          .catch(function(err){
              // エラー処理
          });
    });

  //-->
</script>
