<div class="container">
  <div class="row">
      <% if logged_in? %>
        <div class="col-12">
        <%= link_to '新しくサークルを登録する', new_circle_path, class: "btn btn-info", style: "color:#ffffff;width:100%;" %>
        </div>
      <% else %>
        <div class="col-6">
          <%= link_to 'ログインする', login_path, class: "btn btn-info", style: "color:#ffffff;width:100%;" %>
        </div>
        <div class="col-6">
          <%= link_to '新規登録する', signup_path, class: "btn btn-primary", style: "color:#ffffff;width:100%;" %>
        </div>
      <% end %>
    </div>
  <% if logged_in? %>
    <%= raw(circle_suggest) %>
  <% else %>
    <%= raw(circle_list) %>
  <% end %>
</div>