<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table class="table tables-bordered table-striped">
      <tr>
        <th align="right" valign="middle" style="width:20%;background:#74DF00;color: #ffffff;">
          表示名
        </th>
        <td align="left" valign="middle" colspan="2">
          <%= form.text_field :display_name, id: :user_display_name, class: "form-control" %>
        </td>
        <td align="left" valign="middle">
          【例】Taro
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:20%;background:#74DF00;color: #ffffff;">
          名前
        </th>
        <td align="left" valign="middle">
          <%= form.text_field :family_name, id: :user_family_name, class: "form-control", placeholder:"姓" %>
        </td>
        <td align="left" valign="middle">
          <%= form.text_field :first_name, id: :user_first_name, class: "form-control", placeholder:"名" %>
        </td>
        <td align="left" valign="middle">
          【例】山田　大郎
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:12.5%;background:#74DF00;color: #ffffff;">
          Eメール
        </th>
        <td align="left" valign="middle" colspan="2">
          <%= form.text_field :email, id: :user_email, class: "form-control" %>
        </td>
        <td align="left" valign="middle">
          【例】yamada_taro@example.com
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:12.5%;background:#74DF00;color: #ffffff;">
          学籍番号
        </th>
        <td align="left" valign=",odd;e" colspan="2">
          <%= form.text_field :student_number, id: :user_student_number, class: "form-control" %>
        </td>
        <td align="left" valign="middle">
          【例】123456789
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:12.5%;background:#74DF00;color: #ffffff;">
          電話番号（任意）
        </th>
        <td align="left" valign=",odd;e" colspan="2">
          <%= form.text_field :phone, id: :user_phone, class: "form-control" %>
        </td>
        <td align="left" valign="middle">
          【例】08012345678
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:12.5%;background:#74DF00;color: #ffffff;">
          興味があること
        </th>
        <td align="left" valign=",odd;e" colspan="2">
          <ul id="favo-tags" class="form-control"></ul>
        </td>
        <td align="left" valign="middle">
          単語で1つ以上
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:12.5%;background:#74DF00;color: #ffffff;">
          パスワード
        </th>
        <td align="left" valign=",odd;e" colspan="2">
          <%= form.password_field :password, id: :user_password, class: "form-control" %>
        </td>
        <td align="left" valign="middle">
          半角数字6文字以上
        </td>
      </tr>
      <tr>
        <th align="right" valign="middle" style="width:12.5%;background:#74DF00;color: #ffffff;">
          パスワード確認
        </th>
        <td align="left" valign=",odd;e" colspan="2">
          <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: "form-control" %>
        </td>
        <td align="left" valign="middle">
          上に同じ
        </td>
      </tr>
    </table>

    <br></br>
    <div style="text-align:center;">
      <%= form.submit "OK",class:"btn btn-primary" %>
    </div>

<% end %>

<script type="text/javascript">
    $(document).on('turbolinks:load', function(){
        $('#favo-tags').tagit(
            {
                singleField: true,
                fieldName: 'user[tag_list]'
            }
        );
    });
</script>