<p id="notice"><%= notice %></p>
<h1>Hello, <%= current_user.display_name %>!</h1>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Student number:</strong>
  <%= current_user.student_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= current_user.phone %>
</p>

<p>サークル一覧</p>
<% current_user.circles.each do |circle| %>
    <p><%= link_to circle.name, circle %></p>
<% end %>
<p>興味のあること</p>
<% current_user.tags.each do |tag| %>
    <p><%= tag.name %></p>
<% end %>

<%= link_to 'logout', logout_path, method: :delete %>

<%= link_to 'Edit', account_setting_path %> |
<%= link_to 'Back', root_path %>