<p id="notice"><%= notice %></p>
<h1><%= current_user.family_name %> <%= current_user.first_name %></h1>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Student number:</strong>
  <%= current_user.student_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= current_user.phone %>
</p>

<%= link_to 'logout', logout_path, method: :delete %>

<%= link_to 'Edit', account_setting_path %> |
<%= link_to 'Back', users_path %>
