<script type="text/javascript">
  <!--
  var ncmb = new NCMB("40eba54f0b6c3280251ab4d2ce4d888bf0c94ea220670ed380deaa4cd3084951", "601aeb8e880348637550fc71c25ca602a7acd430e8bc7192fdfe1361df591ccd");

  var onFormSend = function(){
      var fileName = "aaa.gif";
      var fileData = document.getElementById("file-data").files[0];

      ncmb.File.upload(fileName, fileData)
          .then(function(res){
              alert("アップロード完了！");
              document.getElementById("circle-image").innerHTML = "<img src='https://mb.api.cloud.nifty.com/2013-09-01/applications/6aJWFXEYlhr6utde/publicFiles/aaa.gif' style='width:100%'>";
          })
          .catch(function(err){
              alert("アップロードに失敗しました");
          });
  }

  //-->
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div id="circle-image"></div>
      <input type="file" id="file-data"/>
      <input type="button" class="btn btn-primary" value="画像をアップロード" onclick="onFormSend()">
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @circle.profile %>
</p>

<p>
  <strong>Intercollege:</strong>
  <%= @circle.intercollege %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @circle.cost %>
</p>

<p>
  <strong>Member:</strong>
  <%= @circle.users.count %>
</p>

<p>
  <strong>メンバー一覧</strong>
  <table>
    <tr>
      <td>表示名</td>
      <td>氏名</td>
      <td>メールアドレス</td>
    </tr>
    <% @circle.users.each do |user| %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.family_name %> <%= user.first_name %></td>
          <td><%= user.email %></td>
        </tr>
    <% end %>
</table>
</p>

<p><%= link_to 'invite', new_member_path(@circle) %></p>

<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
