<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @circle.profile %>
</p>

<p>
  <strong>Intercollege:</strong>
  <%= @circle.intercollege %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @circle.cost %>
</p>

<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
